extends layout.pug

block content
    // Variables
    mixin trail(name, summary, stars, ratings, hikeURL, length, trail_num, difficulty, imgUrl)
        .trail-title #{trail_num})  <a href=#{hikeURL}>#{name}</a>
        .trail
            .trail-image
                if imgUrl === ""
                    img(src= "https://via.placeholder.com/250x175?text=No+Picture+Available")
                else    
                    img(src= imgUrl)
            .trail-data
                .trail-header About the Trail
                .trail-stars Rating: #{stars}⭐  #{ratings} Votes
                .trail-length  Length: #{length} Miles
                .trail-summary  Summary: #{summary}
                .difficulty Difficulty: #{difficulty}
        

    .container
        .data-input
            .site-title
                h1.section-titles Find Your Hike
            .city-input
                .input-group.input-group-lg
                    input(type="text" id="city-input" class="form-control" placeholder="City")
                    .input-group-append
                        button(class="btn btn-secondary" type="button" id="button-enter") Enter
        .hike-container                
            .hike-data
                h1.section-titles Hikes in #{city}
                each trail, index in trails
                    +trail(trail.name, 
                    trail.summary,
                    trail.stars,
                    trail.starVotes,
                    trail.url,
                    trail.length,
                    (index + 1),
                    trail.difficulty,
                    trail.imgSmall)
        .weather-container
            .weather-data 
                .date-and-time  
                .weather-icon
                    img(src= `http://openweathermap.org/img/wn/${forecast.weatherIcon}@2x.png`)
                .weather-temp
                    .temp #{forecast.temp}
                    .min Min: #{forecast.temp_min}
                    .max Max: #{forecast.temp_max}
                .weather-other
                    | Humidity: #{forecast.humidity}
                